.chat-container {
  width: 360px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.chat-close {
  background: none;
  border: none;
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  right: 23px;
  cursor: pointer;
}

.chat-messages-container {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* background-color: #5CFFAC; */
  width: 360px;
}

.chat-message {
  margin-bottom: 10px;
}

.message-header {
  margin-bottom: 5px;
  text-align: right;
}

.message-date {
  font-size: 0.8em;
  color: #999;
}

.message-body {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  max-width: 80%;
  word-wrap: break-word;
}

.incoming {
  align-self: flex-start;
}

.message-input {
  width: calc(100% - 60px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #5CFFAC;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #5CFFAC;
}

.chat-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.chat-input-container input {
  flex: 1;
}

.chat-message {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  border-radius: 8px;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.message-details {
  margin-bottom: 5px;
}

.message-date {
  font-size: 0.8em;
  color: #999;
  align-self: flex-end;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}

.message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  padding: 10px 20px;
  background-color: #5CFFAC;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #5CFFAC;
}
