<form class="addUser" id="addUser" [formGroup]="userForm" (ngSubmit)="addUserSubmit()" [style]="this.styles">
    <h1>{{ this.titlePage | translate }}</h1>
    <div class="line"></div>

    <label for="firstName">{{ "firstName" | translate }}</label>
    <input type="text" formControlName="firstName" pInputText class="input-field" />
    <div class="error-message" *ngIf="submitted && userForm.controls['firstName'].errors">
        <span *ngIf="userForm.controls['firstName'].errors['required']">
            {{ "RequiredField" | translate }}
        </span>
    </div>

    <label for="lastName">{{ "lastName" | translate }}</label>
    <input type="text" formControlName="lastName" pInputText class="input-field" />
    <div class="error-message" *ngIf="submitted && userForm.controls['lastName'].errors">
        <span *ngIf="userForm.controls['lastName'].errors['required']">
            {{ "RequiredField" | translate }}
        </span>
    </div>

    <div class="form-group"></div>
    <label for="role">{{ "role" | translate }}</label>
    <p-dropdown id="role" formControlName="role" [options]="roleOptions" optionLabel="description"
        [placeholder]="'AuthorizeInputSelect' | translate" class="select-field"></p-dropdown>
    <div class="error-message" *ngIf="submitted && userForm.controls['role'].errors">
        <span *ngIf="userForm.controls['role'].errors['required']">
            {{ "RequiredField" | translate }}
        </span>
    </div>

    <label for="email">{{ "email" | translate }}</label>
    <input type="email" formControlName="email" pInputText class="input-field" />
    <div class="error-message" *ngIf="submitted && userForm.controls['email'].errors">
        <span *ngIf="userForm.controls['email'].errors['required']">
            {{ "RequiredField" | translate }}
        </span>
        <span *ngIf="userForm.controls['email'].errors['email']">
            {{ "InvalidEmailError" | translate }}
        </span>
    </div>

    <label for="password">{{ "PasswordInputLabel" | translate }}</label>
    <input type="password" formControlName="password" pInputText class="input-field" />
    <div class="error-message" *ngIf="submitted && userForm.controls['password'].errors">
        <span *ngIf="userForm.controls['password'].errors['required']">
            {{ "RequiredField" | translate }}
        </span>
        <span *ngIf="userForm.controls['password'].errors['minlength']">
            {{ "PasswordTooShort" | translate }}
        </span>
    </div>

    <label for="confirmPassword">{{ "PasswordAuthentication" | translate }}</label>
    <input type="password" formControlName="confirmPassword" pInputText class="input-field" />
    <!-- <div
    class="error-message"
    *ngIf="submitted && userForm.errors?.passwordMismatch"
  > 
    <span>{{ "PasswordsDoNotMatch" | translate }}</span>
  </div> -->


    <button type="submit" class="submit">{{ "Approve" | translate }}</button>
</form>