.addUser {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
  padding: 15px;
}

.addUser label {
  font-weight: bold;
  color: #505050;
}

h1 {
  text-align: center;
  color: #000000;
}

.line {
  background-color: #49c1ba;
  max-width: 200px;
  height: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.input-field {
  width: 400px;
}

.input-field:hover {
  border-color: #49c1ba !important;
}

::ng-deep .select-field .p-inputtext {
  width: 350px;
}

::ng-deep .select-field .p-inputtext:hover {
  border-color: #49c1ba !important;
}

::ng-deep .input-field .p-inputtext {
  width: 600px;
}

::ng-deep .input-field .p-inputtext:hover {
  border-color: #49c1ba !important;
}


.submit {
  font-size: 20px;
  background-color: #49c1ba;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 400px;
  margin-top: 10px;
  align-items: center;
}

.error-message {
  color: #ff0000;
  font-size: 15px;
  margin-top: 5px;
}

.submit:hover {
  /* background-color: #63fff7; */
  background-color: rgba(26, 128, 123, 0.852);
}