<p>project works!</p>
<div class="add-container">
    <h2>add Project</h2>
    <form [formGroup]="addForm">

        <div>
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" [(ngModel)]="currentProject.name" />
            <span *ngIf="addForm.controls['name'].hasError('required')">Name is required.</span>
        </div>

        <div>
            <label for="description">description</label>
            <input id="description" formControlName="description" type="text"
                [(ngModel)]="currentProject.description" />

            <span *ngIf="addForm.controls['description'].hasError('required')">description is required.</span> 

        </div>
        <div>
            <label for="startDate">startDate</label>
            <input id="startDate" formControlName="startDate" type="date" [(ngModel)]="currentProject.startDate" />
            <span *ngIf="addForm.controls['startDate'].hasError('required')">startDate is required.</span>
        </div>

        <div>
            <label for="endDate">endDate</label>
            <input id="endDate" formControlName="endDate" type="date" [(ngModel)]="currentProject.endDate" />
            <span *ngIf="addForm.controls['endDate'].hasError('required')">endDate is required.</span>
        </div>

        <label for="status"> status</label>
        <select name="status" [(ngModel)]="currentProject.status">
            <option value="onProgram">onProgram</option>
            <option value="finish">finish</option>
        </select>
        <div>
            <label for="customerId"> customerId</label>
            <input #n type="number" name="customerId" [required]="true" maxlength="9"
                [(ngModel)]="currentProject.customerId" />
        </div>
        <div>
            <label for="createdDate">CreatedDate</label>
            <input id="createdDate" formControlName="createdDate" type="datetime"
                [(ngModel)]="currentProject.createdDate" />
            <span *ngIf="addForm.controls['createdDate'].hasError('required')">createdDate is required.</span>
        </div>

        <button (click)="Add()">Add </button>
    </form>

</div>