<div class="signUp-container">
    <div class="signUp-form">
        <div class="signUp-image">
            <img src="../../../assets/images/login bac.png" alt="Login Background">
        </div>
        <div class="signUp-inputs">
            <form [formGroup]="signUpForm" (ngSubmit)="toEnter()">
                <h1>{{'SignUp' | translate}}</h1>

                <div class="card flex justify-content-center">
                    <input id="firstName" formControlName="firstName" type="text" id="title" pInputText
                        class="input-field" placeholder="{{'First Name' | translate}}" />
                    <div *ngIf="submitted && signUpForm.get('firstName')?.hasError('required')" style="color: red;">
                        {{'FirstNameRequired' | translate}}
                    </div>
                    <div *ngIf="submitted && signUpForm.get('firstName')?.hasError('firstName')" style="color: red;">
                        {{'InvalidFirstNameFormat' | translate}}
                    </div>
                </div>

                <div class="card flex justify-content-center">
                    <input id="lastName" formControlName="lastName" type="text" id="title" pInputText
                        class="input-field" placeholder="{{'Last Name' | translate}}" />
                    <div *ngIf="submitted && signUpForm.get('lastName')?.hasError('required')" style="color: red;">
                        {{'LastNameRequired' | translate}}
                    </div>
                    <div *ngIf="submitted && signUpForm.get('lastName')?.hasError('lastName')" style="color: red;">
                        {{'InvalidLastNameFormat' | translate}}
                    </div>
                </div>

                <div class="card flex justify-content-center">
                    <input id="email" formControlName="email" type="text" id="title" pInputText class="input-field"
                        placeholder="{{'Email' | translate}}" />
                    <div *ngIf="submitted && signUpForm.get('email')?.hasError('required')" style="color: red;">
                        {{'EmailRequired' | translate}}
                    </div>
                    <div *ngIf="submitted && signUpForm.get('email')?.hasError('email')" style="color: red;">
                        {{'InvalidEmailFormat' | translate}}
                    </div>
                </div>

                <div class="card flex justify-content-center">
                    <input id="password" formControlName="password" [(ngModel)]="userDetails.password" type="password"
                        id="title" pInputText class="input-field" placeholder="{{'Password' | translate}}" />
                    <div *ngIf="submitted && signUpForm.get('password')?.hasError('required')" style="color: red;">
                        {{'PasswordRequirements' | translate}}
                    </div>
                    <div *ngIf="submitted && signUpForm.get('password')?.errors && !signUpForm.get('password')?.hasError('required')"
                        style="color: red;">
                        {{'Password must contain at least 8 characters with a number and a lowercase letter.' |
                        translate}}
                    </div>
                </div>

                <div class="card flex justify-content-center">
                    <input id="ConfirmPassword" formControlName="ConfirmPassword" [(ngModel)]="userDetails.password2"
                        type="password" id="title" pInputText class="input-field"
                        placeholder="{{'Confirm Password' | translate}}" (ngModelChange)="validatePasswords()" />
                    <div *ngIf="submitted && signUpForm.controls['ConfirmPassword'].errors">
                        <span *ngIf="signUpForm.controls['ConfirmPassword'].errors['required']" style="color: red;">
                            {{'PasswordRequirements' | translate}}
                        </span>
                        <span *ngIf="signUpForm.controls['ConfirmPassword'].errors['email']" style="color: red;">
                            {{'InvalidEmailFormat' | translate}}
                        </span>
                    </div>
                    <mat-hint *ngIf="!passwordsMatch && userDetails.password !== '' && userDetails.password2 !== ''"
                        align="end" style="color: red;">
                        {{'Passwords do not match.' | translate}}
                    </mat-hint>
                </div>

                <button type="submit" [disabled]="!passwordsMatch" class="submit-button">{{'Send' | translate}}</button>
            </form>
            <app-google [userData]="userData"></app-google>
        </div>
    </div>
</div>