<div *ngIf="flag" class="edit-task-form" [style]="this.styles">
    <form [formGroup]="editForm" (ngSubmit)="toEnter()">
        <h1>{{"edit Lead" | translate}}</h1>

        <div class="line"></div>

        <label for="firstName">{{'firstName'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="firstName" formControlName="firstName" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['firstName'].errors">
                <span *ngIf="editForm.controls['firstName'].errors['required']">{{"firstName is required." |
                    translate}}</span>
                <span *ngIf="editForm.controls['firstName'].errors['firstName']">{{"Invalid firstName format." |
                    translate}}</span>
            </div>
        </div>

        <label for="lastName">{{'lastName'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="lastName" formControlName="lastName" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['lastName'].errors">
                <span *ngIf="editForm.controls['lastName'].errors['required']">{{"lastName is required." |
                    translate}}</span>
                <span *ngIf="editForm.controls['lastName'].errors['lastName']">{{"Invalid lastName format." |
                    translate}}</span>
            </div>
        </div>

        <label for="phone">{{'phone'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="phone" formControlName="phone" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['phone'].errors">
                <span *ngIf="editForm.controls['phone'].errors['required']">{{"phone is required." | translate}}</span>
                <span *ngIf="editForm.controls['phone'].errors['phone']">{{"Invalid phone format." | translate}}</span>
            </div>
        </div>

        <label for="email">{{'email'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="email" formControlName="email" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['email'].errors">
                <span *ngIf="editForm.controls['email'].errors['required']">{{"email is required." | translate}}</span>
                <span *ngIf="editForm.controls['email'].errors['email']">{{"Invalid email format." | translate}}</span>
            </div>
        </div>

        <label for="source">{{'source'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="source" formControlName="source" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['source'].errors">
                <span *ngIf="editForm.controls['source'].errors['required']">{{"source is required." |
                    translate}}</span>
                <span *ngIf="editForm.controls['source'].errors['source']">{{"Invalid source format." |
                    translate}}</span>
            </div>
        </div>

        <label for="lastContactedDate">{{'lastContactedDate'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="lastContactedDate" formControlName="lastContactedDate" type="date" id="title" pInputText
                class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['lastContactedDate'].errors">
                <span *ngIf="editForm.controls['lastContactedDate'].errors['required']">{{"last contacted date is required." | translate}}</span>
                <span *ngIf="editForm.get('lastContactedDate')!.errors?.['notFutureDate']"> התאריך חייב להיות עתידי</span>
                <span *ngIf="editForm.controls['lastContactedDate'].errors['lastContactedDate']">{{"Invalid lastcontacted date format." | translate}}</span>
            </div>
        </div>

        <!-- <label for="lastContactedDate">{{'lastContactedDate'|translate}}</label>
        <div class="card">
            <p-calendar id="lastContactedDate" formControlName="lastContactedDate" type="date" class="input-field"></p-calendar>
                <div class="error-message" *ngIf="submitted && editForm.controls['lastContactedDate'].errors">
                    <span *ngIf="editForm.controls['lastContactedDate'].errors['required']">{{"last contacted date is required." | translate}}</span>
                    <span *ngIf="editForm.get('lastContactedDate')!.errors?.['notFutureDate']"> התאריך חייב להיות עתידי</span>
                    <span *ngIf="editForm.controls['lastContactedDate'].errors['lastContactedDate']">{{"Invalid last contacted date format." | translate}}</span>
                </div>
        </div> -->

        <label for="businessName">{{'businessName'|translate}}</label>
        <div class="card flex justify-content-center">
            <input id="businessName" formControlName="businessName" type="text" id="title" pInputText
                class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['businessName'].errors">
                <span *ngIf="editForm.controls['businessName'].errors['required']">{{"business name is required." |
                    translate}}</span>
                <span *ngIf="editForm.controls['businessName'].errors['businessName']">{{"Invalid business name format."
                    | translate}}</span>
            </div>
        </div>

        <label for="notes">{{'notes'| translate}}</label>
        <div class="card flex justify-content-center">
            <input id="notes" formControlName="notes" type="text" id="title" pInputText class="input-field" />
            <div class="error-message" *ngIf="submitted && editForm.controls['notes'].errors">
                <span *ngIf="editForm.controls['notes'].errors['required']">{{"notes is required." | translate}}</span>
                <span *ngIf="editForm.controls['notes'].errors['notes']">{{"Invalid notes format." | translate}}</span>
            </div>
        </div>

        <button mat-raised-button type="submit" class="submit-button">send</button>
    </form>
</div>