<app-generic-bourd [data]="tasks" [loading]="loading"
    [globalFilterFields]="['title', 'description', 'priority', 'status','dueDate']"
    [col$types]="{'title':'text','description':'text','status':'position','priority':'position','dueDate':'date','assignedTo':'obj','project':'obj','createdDate':'date'}"
    [positionData]="[statuses,priorities]" 
    [objData]="[users,projects]" 
    [objFields]="['email','name']" 
    [posFields]="['description','description']"
    (edit)="onEditTask($event)" 
    (delete)="onDeleteTask($event)" 
    (showAddComponent)="addTask()">
</app-generic-bourd>
<div #popupContainer></div>