<div class="card-container">
    <div *ngFor="let item of list" class="card">
        <div class="card-header">
            <h3>{{ item.firstName }} {{ item.lastName }}</h3>
        </div>
        <div class="card-content">
            <!-- לולאה פנימית להצגת תתי-האובייקטים -->
            <div *ngIf="item.communications && item.communications.length" class="sub-items">
                <ul>
                    <div class="sub-item" *ngFor="let subItem of item.communications">
                        <li>
                            <strong>תאריך:</strong> {{ subItem.date | date: 'dd-MM-yyyy' }}
                        </li>
                        <li>
                            <strong>נושא:</strong> {{ subItem.type }}
                        </li>
                        <li>
                            <strong>תוכן:</strong> {{ subItem.details }}
                        </li>
                        <button pButton type="button" class="p-button-danger" icon="pi pi-trash"
                            (click)="deleteMessage(subItem)"></button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
