<div class="body">
    <h2>log-in</h2>
    <form #loginForm="ngForm" (ngSubmit)="toEnter()" novalidate>
        <mat-form-field appearance="fill">
            <mat-label>name</mat-label>
            <input matInput type="text" name="name" [(ngModel)]="userLogIn.username" required>
        </mat-form-field>
       
        <mat-form-field appearance="fill">
            <mat-label>password</mat-label>
            <input matInput type="password" name="passwordUser" [(ngModel)]="userLogIn.password">
        </mat-form-field>

        <div>
            <label>user type</label><br>
            <label><input type="radio" name="userType" value="admin" [(ngModel)]="userLogIn.userType"> Admin</label>
            <label><input type="radio" name="userType" value="worker" [(ngModel)]="userLogIn.userType">Worker</label>
            <label><input type="radio" name="userType" value="customer" [(ngModel)]="userLogIn.userType">Customer</label>
        </div>
        <br>
        <button mat-raised-button type="submit">Log-in</button>
    </form>
</div>