<!-- <div class="chat-list-container">
    <div *ngFor="let communication of communications">
      <app-propil [communication]="communication"></app-propil>
    </div>
  </div>
   -->

   <div class="chat-page-container">
    <div class="new-message-container">
      <app-new (messageSent)="addNewMessage($event)"></app-new>
    </div>
  
    <div class="chat-list-container">
      <div *ngFor="let communication of communications">
        <app-propil [communication]="communication"></app-propil>
      </div>
    </div>
  </div>
  