.chat-page-container {
  display: flex;
  gap: 20px;
}

#filters {
  margin-right: 100px;
}

.chat-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
}

.send-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #49c1ba;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.text-base-color {
  color: #49c1ba;
}

.custom-button {
  background-color: white !important;
  border-bottom: 2px solid transparent !important;
  margin-right: 1.5rem !important;
  transition: border-color 0.3s ease !important;
}

.custom-button:hover {
  border-color: #49c1ba !important;
}

#adds {
  margin-left: 100px;
}