.login-form {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

mat-form-field {
  width: 80%;
  margin-bottom: 15px;
}

.input-style {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
}

.forgot-password {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.submit-button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-text {
  cursor: pointer;
  margin-top: 20px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.lock-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* צבע אפור בהיר עם שקיפות */
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
