<div class="add-task-form">
  <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
    <h1>{{this.titlePage}}</h1>
    
    <div class="line"></div>

    <label for="title">הכנס כותרת</label>
    <div class="card flex justify-content-center">
      <input type="text" id="title" pInputText class="input-field" formControlName="title" />
      <div class="error-message" *ngIf="title!.invalid && (title!.touched || title!.dirty)">
        <span *ngIf="title!.errors?.['required']">שדה חובה</span>
      </div>
    </div>

    <label for="description">הכנס תיאור</label>
    <div class="card flex justify-content-center">
      <input type="text" pInputText id="description" class="input-field" formControlName="description" />
      <div class="error-message" *ngIf="description!.invalid && (description!.touched || description!.dirty)">
        <span *ngIf="description!.errors?.['required']">שדה חובה</span>
      </div>
    </div>

    <label for="date">הכנס תאריך יעד</label>
    <div class="card">
      <p-calendar id="date" formControlName="dueDate" placeholder="mm/dd/yyyy" class="input-field"></p-calendar>
      <div class="error-message" *ngIf="dueDate!.invalid && (dueDate!.touched || dueDate!.dirty)">
        <span *ngIf="dueDate!.errors?.['required']; else notFutureDate">שדה חובה</span>
        <ng-template #notFutureDate>
          <span *ngIf="dueDate!.errors?.['notFutureDate']">התאריך חייב להיות עתידי</span>
        </ng-template>
      </div>
    </div>

    <div class="card">
      <p-dropdown formControlName="priority" [options]="priorities" optionLabel="description" placeholder="בחר עדיפות" class="input-field"></p-dropdown>
      <div class="error-message" *ngIf="priority!.invalid && (priority!.touched || priority!.dirty)">
        <span>שדה חובה</span>
      </div>
    </div>

    <div class="card">
      <p-dropdown formControlName="status" [options]="statuses" optionLabel="description" placeholder="בחר סטטוס" class="input-field"></p-dropdown>
      <div class="error-message" *ngIf="status!.invalid && (status!.touched || status!.dirty)">
        <span>שדה חובה</span>
      </div>
    </div>

    <label for="assignedTo">בחר לקוח</label>
    <div id="assignedTo" class="card">
      <p-autoComplete [dropdown]="true" [suggestions]="filteredUsers" (completeMethod)="filterUserAuto($event)" field="firstName" (onSelect)="onUserSelected($event)" formControlName="assignedTo" class="input-field">
        <ng-template let-user pTemplate="item">
          {{ displayFn(user) }}
        </ng-template>
      </p-autoComplete>
      <div class="error-message" *ngIf="assignedTo!.invalid && (assignedTo!.touched || assignedTo!.dirty)">
        <span *ngIf="assignedTo!.errors?.['required']">שדה חובה</span>
      </div>
      <p class="error-message" *ngIf="!assignedTo!.errors?.['required'] && userExistError">יש לבחור לקוח שקיים במערכת</p>
    </div>

    <label for="project">בחר פרויקט</label>
    <div id="project" class="card">
      <p-autoComplete [dropdown]="true" [suggestions]="filteredProjects" (completeMethod)="filterProjectAuto($event)" field="name" (onSelect)="onProjectSelected($event)" formControlName="project" class="input-field"></p-autoComplete>
      <div class="error-message" *ngIf="project!.invalid && (project!.touched || project!.dirty)">
        <span *ngIf="project!.errors?.['required']">שדה חובה</span>
      </div>
      <p class="error-message" *ngIf="!project!.errors?.['required'] && projectExistError">יש לבחור פרויקט שקיים במערכת</p>
    </div>

    <button type="submit" class="submit-button">שמירת משימה</button>
  </form>
</div>
