body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999 !important;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-item {
  text-align: center;
  position: relative;
  padding: 12px;
  margin: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: rgba(242, 239, 239, 0.871);
}

.nav-item:hover .arrow {
  transform: rotate(180deg);
}

.arrow {
  margin-left: 5px;
  font-size: 0.7em;
  transition: transform 0.2s;
}

.profile-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border:1px solid rgb(11, 11, 11);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  margin-right: 25px;
  cursor: pointer;
}

.profile-icon-large {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  margin-right: 15px;
}

.profile-menu .profile-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

 .profile-menu .profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.create-design-btn {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.nav-icon {
  font-size: 1.2em;
  margin-left: 15px;
  cursor: pointer;
}

.logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5em;
  color: #00c4cc;
  margin-left: 15px;
}

.menu-icon {
  font-size: 1.5em;
  margin-left: 15px;
  cursor: pointer;
}

img {
  margin: 4px;
  width: 130px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.log-in-btn {
  background-color: #51f9a2c4;
  border: 1px solid white;
}

.log-in-btn:hover {
  background-color: #41f699ec;
}

.sign-up-btn {
  color: black;
  background-color: white;
  border: 1px solid #dedfdfc4;
}

.sign-up-btn:hover {
  background-color: rgb(235, 233, 233);
}

.language-btn:hover{
  background-color: rgb(235, 233, 233);
  cursor: pointer;
}

.language-btn{
  padding: 15px 15px;
  border-radius: 50%;
}

.profile-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 8px;
}

.profile-picture {
  margin:10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-details {
  direction: rtl;
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
}

mat-menu {
  min-width: 400px; 
}

mat-menu button {
  display: flex;
  align-items: center;
} 