<nav class="navbar">
    <div class="nav-left">
        <div title="userName" class="profile-icon" [matMenuTriggerFor]="profileMenu">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
        </div>
        <mat-menu #profileMenu="matMenu">
            <!-- <div class="profile-info"> -->
                <!-- <div class="user-details">
                    <span class="user-name"></span>Feigi
                    <span class="user-email">Feigi&#64;gmail.com</span>
                </div>
                <img src="assets/images/profile.png" alt="Profile Picture" class="profile-picture"> -->
            <!-- </div> -->
            <!-- <button mat-menu-item (click)="editUser()">
                <span>Edit Profile</span>
                <mat-icon>edit</mat-icon>
            </button> -->
            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>Sign Out</span>
            </button>
        </mat-menu>

        <button class="create-design-btn log-in-btn" routerLink="/login" >{{'logIn'|translate}}</button>
        <button class="create-design-btn sign-up-btn" routerLink="/sign-up">{{'signUp'|translate}}</button>

        <i class="nav-icon pi pi-language language-btn" (click)="switchLanguage()"
            [title]="'switchLanguage'|translate"></i>
    </div>
    <div class="nav-center">
        <div class="nav-item" *ngFor="let link of links">
            <a [routerLink]="link.path">{{ link.label | translate }}</a>
        </div>
    </div>
    <div class="nav-right">
        <div class="logo">
            <img src="assets/images/logo.jpeg" title="Copy Right" routerLink="/home">
        </div>
    </div>
</nav>