<!-- <nav class="navbar">
    <div class="nav-left">
        <div title="userName" class="profile-icon" [matMenuTriggerFor]="profileMenu">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
        </div>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="editUser()">
                <span>{{'EditYourDetails'|translate}}</span>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>{{'logOut'|translate}}</span>
            </button>
        </mat-menu>

        <button class="create-design-btn log-in-btn" routerLink="/login" >{{'logIn'|translate}}</button>
        <button class="create-design-btn sign-up-btn" routerLink="/sign-up">{{'signUp'|translate}}</button>

        <i class="nav-icon pi pi-language language-btn" (click)="switchLanguage()"
            [title]="'switchLanguage'|translate"></i>
    </div>
    <div class="nav-center">
        <div class="nav-item" *ngFor="let link of links">
            <a [routerLink]="link.path">{{ link.label | translate }}</a>
        </div>
    </div>
    <div class="nav-right">
        <div class="logo">
            <img src="assets/images/logo.jpeg" title="Copy Right" routerLink="/home">
        </div>
    </div>
</nav>
<ng-template #popupContainer></ng-template> -->


<nav class="navbar">
    <div class="nav-left">
        <div title="userName" class="profile-icon" [matMenuTriggerFor]="profileMenu">
            <i class="pi pi-user" style="font-size: 1.5rem"></i>
        </div>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item (click)="editUser()">
                <span>{{'EditYourDetails'|translate}}</span>
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-menu-item (click)="logOut()">
                <mat-icon>logout</mat-icon>
                <span>{{'logOut'|translate}}</span>
            </button>
        </mat-menu>

        <button class="create-design-btn log-in-btn" routerLink="/login">{{'logIn'|translate}}</button>
        <button class="create-design-btn sign-up-btn" routerLink="/sign-up">{{'signUp'|translate}}</button>

        <i class="nav-icon pi pi-language language-btn" (click)="switchLanguage()" [title]="'switchLanguage'|translate"></i>
    </div>
    <div class="nav-center">
        <div class="nav-item" *ngFor="let link of links">
            <a [routerLink]="link.path">{{ link.label | translate }}</a>
        </div>
    </div>
    <div class="nav-right">
        <div class="logo">
            <img src="assets/images/logo.jpeg" title="Copy Right" routerLink="/home">
        </div>
    </div>
    <button class="menu-icon" (click)="toggleMenu()">☰</button>
</nav>
<div class="mobile-menu" [class.open]="isMenuOpen">
    <div class="nav-item" *ngFor="let link of links">
        <a [routerLink]="link.path" (click)="toggleMenu()">{{ link.label | translate }}</a>
    </div>
</div>
<ng-template #popupContainer></ng-template>
