<button id="accessibility-btn" aria-label="Toggle accessibility options" (click)="toggleAccessibilityMenu()">
    <img src="assets/images/נגישות.jpg" alt="Accessibility Icon">
</button>
<div id="accessibility-menu" class="hidden">
    <div class="container-item">
        <span class="material-icons">contrast</span> ניגודיות
        <p-inputSwitch #switch1 id="one" inputId="switch1" (onChange)="toggleHighContrast()"></p-inputSwitch>
    </div>
    <div class="container-item">
        <span class="material-icons">record_voice_over</span> קורא טקסט
        <p-inputSwitch #switch2 id="five" inputId="switch2" (onChange)="handleSwitch1Change($event)"></p-inputSwitch>
    </div>
</div>