<div *ngIf="flag" class="add-container">
  <form  [formGroup]="ProjectForm"  (ngSubmit)="toEnter()" >
<!-- <div > -->
    <label>שם פרויקט</label>
    <input  type="text" id="Name" formControlName="name" />
    <label>תאור</label>
    <input  type="text" id="description" formControlName="description" />
  <label>תחילת פרויקט</label>
  <input  type="date" id="strartDate" formControlName="startDate" />
    <label>סיום פרויקט</label>
    <input  type="date" id="endDate" formControlName="endDate" />
  <label>תאריך יצירת הפרויקט </label>
  <input  type="date" id="createdDate" formControlName="createdDate" />
    <label>סטאטוס </label>
    <p-dropdown formControlName="status" [options]="statuses" optionLabel="description" [placeholder]="this.status.description" />
    <!-- <p-dropdown formControlName="status" [options]="statuses" optionLabel="description" placeholder="בחר סטטוס" /> -->
    <label>סוג לקוח </label>
    <p-dropdown formControlName="customerId" [options]="custom" optionLabel="firstName"   [placeholder]="customer.firstName"/>
    <br><br/>
    <button class="submit-button" mat-raised-button type="submit">send</button>
  <!-- </div> -->
</form>
</div>