<div>
  <button type="submit" (click)="initGoogleOneTap()" class="submit-button">Login with Google</button>
</div>

<div id="g_id_onload" data-client_id="427515481723-ja7nlkmti3amubd5e5qbtdig27fc06ik.apps.googleusercontent.com"
  data-callback="initGoogleOneTap" data-auto_prompt="false">
</div>

<div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="sign_in_with"
  data-shape="rectangular" data-callback="initGoogleOneTap" data-logo_alignment="left">
</div>



