.card {
  overflow: hidden;
  /* מונע מהתוכן לחרוג מהקופסה */
}

.p-card {
  word-wrap: break-word;
  /* מוודא שהמילים נשברות ולא יוצאות החוצה */
  /* text-overflow: ellipsis; */
  /* אם יש טקסט ארוך מדי, הוסף שלוש נקודות בסוף */
  max-height: 50px;
  /* קביעת גובה מקסימלי במקרה שהטקסט ארוך מדי */
}

.p-card {
  max-height: 300px;
  /* גובה מקסימלי */
  overflow-y: auto;
  /* אפשר גלילה אם התוכן חורג */
}

.card {
  text-align: right;
  align-items: center;
  padding: 7%;
  margin: 7px;
}

.color-line {
  background-color: #49c1ba;
  height: 30px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.line{
  background-color: #49c1ba;
  height: 2px;
}

.p-button-danger{
  background-color: transparent;
  border:none;
  color:#49c1ba;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-hover:hover {
  transform: translateY(-10px); /* מרימה את הכרטיס */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* מוסיפה צל חזק יותר */
}

.card-container {
  padding: 10px;
}


.flex-row {
  display: flex;
  align-items: center; /* ממרכז את הכפתור והטקסט אנכית */
  justify-content: space-between; /* מוסיף רווח בין התאריך לכפתור */
}

.flex-row p {
  margin: 0; /* מסיר רווחים בין הפסקאות */
}

.title{
  text-align: center;
}

.body{
  text-align: right;
}

.response-details {
  max-height: 100px; /* גובה מקסימלי */
  overflow: hidden; /* הסתרת תוכן מעבר לגובה */
}
