<div class="card-container card flex justify-content-center">
  <p-card class="card-hover title" header={{communication.name}} [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <p class="color-line"></p>
    </ng-template>
    <div class="body" *ngFor="let response of responses">
      <div>
        <div class="flex-row">
          <button pButton type="button" class="p-button-danger" icon="pi pi-trash"
            (click)="deleteMessage(response)"></button>
          <p><b>תאריך</b> {{ response.date | date: 'dd-MM-yyyy' }}</p>
        </div>
        <p><b>נושא</b></p>
        <p>{{response.details}}</p>
        <p><b>תוכן</b></p>
        <p>{{response.type}}</p>
      </div>
      <p class="line"></p>
    </div>

    <!-- <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
        <p-button label="Save" class="w-full" styleClass="w-full" />
      </div>
    </ng-template> -->
  </p-card>
</div>